* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

body {
    background: #0f172a;
    color: white;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #020617;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.hero-text h1 {
    font-size: 40px;
}

.hero-text h3 {
    color: #38bdf8;
    margin: 10px 0;
}

.btn {
    background: #38bdf8;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

.hero-img img {
    width: 250px;
    border-radius: 50%;
}

/* SECTION */
section {
    padding: 60px 80px;
}

/* SKILLS */
.skills-container span {
    display: inline-block;
    background: #1e293b;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

/* CARDS */
.card {
    background: #1e293b;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}